body {
  background-color: #ffc7c7;
}
h2 {
  font-size: 100%;
  padding-left: 11px;
  margin-top: 10%;
  color: rgb(32, 32, 32);
}

.progress {
  background: rgba(17, 17, 17, 0.418);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 1%;
  display: flex;
  height: 5%;
  width: 80%;
}

.progress-value {
  animation: load 6s normal infinite;

  border-radius: 100px;
  background: #fff;
  height: 70%;
  width: 50%;
}

@keyframes load {
  0% {
    width: 72%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 72%;
  }
}

.img-logo {
  margin: 30% 0 5% 0;
  display: block;
  width: 90%;
}
.img-logo img {
  width: 100%;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #f33535 0%,
    #ff6e7f 51%,
    #f33535 100%
  );
}
.button-facebook {
  text-align: center;
}
a:hover {
  text-decoration: none;
  font-style: none;
}
.btn-grad {
  margin: 10px;
  padding: 4% 8%;
  text-align: center;

  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.img-container {
  padding: 10%;
}
.img-container img {
  width: 100%;
}
footer {
  background-color: rgb(17, 17, 17);
  display: block;
  padding-top: 3rem;
}
.top-contain {
  text-align: center;
  font-size: 150%;
  color: rgb(247, 247, 247) !important;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.top-contain a {
  text-decoration: none;
  color: rgb(247, 247, 247) !important;
}
.top-contain:focus {
  color: rgb(70, 118, 250);
}
.brw {
  border: rgb(146, 146, 146) 0.2px solid;
  display: block;
  content: "";
}
.last-text {
  font-size: 70%;
  color: rgb(204, 204, 204);
  text-align: center;
  z-index: 3;
  margin: 10% 0px 5% 2%;
}
@media only screen and (min-width: 992px) {
  body {
    background-image: url("./img/Untitled1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
  }
}
