.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 5s normal infinite;

  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 50%;
}

@keyframes load {
  0% {
    width: 50%;
  }
  50% {
    width: 78%;
  }
}
